:root{
--nodeBg: rgba(15, 15, 15, 0.55);
--nodeChildrenBg: #8080807d;
--nodeChildrenColor: rgba(255, 255, 255, 0.88);
--nodeChildrenBorderColor: #888888;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.main_menu{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 8;
}
.main_menu li{
  position: relative;
}
.main_menu li a{
  display: block;
  color: #fff;
  padding: 7px 20px;
  background-color: var(--nodeBg);
  cursor: pointer;
  text-decoration: none;
}
.main_menu > li:hover > a,
.submenu li:hover a {
  background-color: var(--nodeChildrenBg);
}
.main_menu > li:hover .submenu{
  display: block;
}
.submenu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: auto;
  display: none;
}
.submenu li {
  min-width: 100px;
}
.submenu li:not(:last-child){
  border-bottom: 1px solid var(--nodeChildrenBorderColor);
}

.mmodal{
  column-gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #0f0f0f;
  color: #fff;
  width: 100%;
  display: none;
}
.mmodal.active{
  display: flex;
}
.mmodal__close{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.mmodal__close:hover{
  color: red;
}
.mmodal__left{
  padding: 20px;
  border-right: 2px solid red;
}
.mmodal__right{
  padding: 20px;
  min-width: 555px;
}
.mmodal__menu{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.mmodal__menu a{
  display: block;
  padding: 5px 10px;
  background-color: var(--nodeBg);
  color: #fff;
  text-decoration: none;
  
}
.mmodal__menu a:hover{
  background-color: var(--nodeChildrenBg);
}
.mmodal__menu a.active{
  color: red;
}

div[data-swb]{display: none;}
div[data-swb]:nth-child(1){display: block;}

.tbl{
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}
.tbl td,
.tbl th{
  border: 1px solid #ccc;
  padding: 5px;
}

.fill-area {
  display: table;
  z-index: -11;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px
}

.background {
  background-color: #262626;
  opacity: 1;
  background-image: linear-gradient(#0f0f0f 1.5px,transparent 0),linear-gradient(90deg,#0f0f0f 1.5px,transparent 0),linear-gradient(#333 1.5px,transparent 0),linear-gradient(90deg,#333 1.5px,#262626 0);
  background-size: 200px 200px,200px 200px,25px 25px,25px 25px;
  background-position: -1.5px -1.5px,-1.5px -1.5px,-1.5px -1.5px,-1.5px -1.5px
}

.frame-comment{
  background-color: #ffffff0f;
  border: 3px solid #ffd92c17;
}
.frame-comment.selected{
  border-color: transparent;
  box-shadow: rgb(152, 87, 0) 0px 2px 6px 2px, rgb(201, 177, 68) 0px 0px 0px 5px;
}


.minimap[data-testid]{
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #00ff1f5c;
}
.minimap[data-testid] .mini-viewport{
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #ffe52b75;
}
.minimap[data-testid] .mini-node{
  background: rgb(0, 149, 26,  0.12);
  border: 1px solid #00ff1f5c;
}

/*    "./components/UI"     */
.select{
  width: 100%;
  max-width: 100%;
  background-color: var(--nodeChildrenBg);
  color: #fff;
  outline: none;
  border-radius: 3px;
  height: 22px;
  font-size: 14px;
  border: 1px solid var(--nodeChildrenBorderColor);
  display: block;
}
.select option{
  font-size: 16px;
}
.btn{
  font-size: 14px;
  height: 32px;
  padding: 0 15px;
  border-radius: 6px;
  border: 2px solid var(--nodeChildrenBorderColor);
  background: var(--nodeChildrenBg);
  color: var(--nodeChildrenColor);
  cursor: pointer;
}
.btn:hover{
  color: #fff;
  border-color: currentColor;
}
.textarea{
  border: 2px solid var(--nodeChildrenBorderColor);
  background: var(--nodeChildrenBg);
  color: var(--nodeChildrenColor);
  max-width: 100%;
  min-width: 100%;
  max-height: 250px;
  min-height: 100px;
  border-radius: 3px;
  display: block;
}
/*    "./components/UI"     */

.menu[data-testid]{
  width: auto;
  min-width: 150px;
  white-space: nowrap;
}
.menu[data-testid] .block{
  border-bottom: 1px solid var(--nodeChildrenBorderColor);
  /* background-color: var(--nodeBg); */
  background-color: rgba(15, 15, 15, 0.9);
  width: auto;
}
.menu[data-testid] .block:hover{
  background-color: var(--nodeChildrenBg);
}
.menu[data-testid] .block .context{
  padding-right: 15px;
  width: auto;
}
.menu[data-testid] .subitems{
  min-width: 170px;
}
.menu[data-testid] .block input{
  background-color: var(--nodeChildrenBg);
}




.title_win{
	    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 8;
    font-size: 24px;
    color: #49a3ff;
    margin-left: -90px;
}

.my_scroll{
	overflow-y: auto;
}
.my_scroll::-webkit-scrollbar-button {
	/*background-image:url('');*/
	background-repeat:no-repeat;
	width: 4px;
	height: 0px
}

.my_scroll::-webkit-scrollbar-track {
	background-color: transparent;
}

.my_scroll::-webkit-scrollbar-thumb {
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:  rgba(0, 255, 224, 0.3);
  border: 1px solid rgba(0, 255, 224, 0.5);
}

.my_scroll::-webkit-scrollbar-thumb:hover{
	background-color:rgba(0, 255, 224, 0.3);
}

.my_scroll::-webkit-resizer{
	/*background-image:url('');*/
	background-repeat: no-repeat;
	width: 4px;
	height: 0px;
  background-color: rgba(0, 255, 224, 0.3);
}

.my_scroll::-webkit-scrollbar{
	width: 7px;
}
/*mozilla*/
.my_scroll{
	scrollbar-width: thin;
	scrollbar-color: rgba(0, 255, 224, 0.3) transparent;
}

.listNodes{
  position: absolute;
  top: 50px;
  right: 100%;
  background-color: #0f0f0f;
  color: #fff;
  min-width: 150px;
  width: auto;
  padding: 15px;
  z-index: 2;
  border: 1px solid #ffe52b75;
  transform: translateX(0);
  transition: transform 0.3s;
}
.listNodes.active{
  transform: translateX(100%);
}
.listNodes__btn{
  position: absolute;
  width: 28px;
  height: 35px;
  left: calc(100% + 1px);
  top: -1px;
  border: 1px solid #00ff1f5c;
  /* background: rgba(0, 0, 0, 0.25); */
  background: rgb(0, 149, 26,  0.12);
  text-align: center;
  cursor: pointer;
}
.listNodes__btn::before{
  content: attr(data-title);
  display: block;
  position: absolute;
  font-size: 10px;
  width: 100%;
  color: #00ff1f5c;
}
.listNodes__btn:hover::before{
  color: #00ff1f9c;

}
.listNodes__btn::after{
  content: '+';
  display: block;
  position: absolute;
  font-size: 16px;
  width: 100%;
  top: 13px;
  color: #ffe72d9f;
  transition: transform 0.3s;
}
.listNodes__btn:hover::after{
  color: #ffe62dcb;
}
.listNodes.active .listNodes__btn::after{
  transform: rotateZ(45deg);
  color: red;
}
.accordion{
  margin-top: 10px;
  border: 1px solid #fff;
}
.accordion__head{
  white-space: nowrap;
  padding: 5px 25px 5px 5px;
  cursor: pointer;
  position: relative;
  color: #fff;
  user-select: none;
}
.accordion__head:hover{
  color: #b9b6b6;
}
.accordion__head::after{
  content: '';
  position: absolute;
  right: 7px;
  top: 10px;
  border: solid currentColor;
  border-width: 0 2px 2px 0;
  padding: 2px;
  transform: rotate(-135deg);
  transition: transform 0.3s;
}
.accordion.active .accordion__head::after{
  transform: rotate(45deg);
}
.accordion__list{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 0;
  padding: 0 5px;
  opacity: 0;
  transition: opacity 0.3s, line-height 0.3s, padding 0.3s;
}
.accordion.active .accordion__list{
  padding: 5px;
  line-height: 1.5;
  opacity: 1;
}
.accordion__list a{
  padding-left: 5px;
  text-decoration: none;
  white-space: nowrap;
  color: #00ff1f5c;
  cursor: pointer;
}
.accordion__list a:hover{
  color: #00ff1f9c;
}
.listNodes .my_scroll{
  max-height: calc(100vh - 150px);
  overflow-y: scroll;
  padding-right: 12px;
}
.node_helper{
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 3;
  border-radius: 30px;
  border: 1px dashed #2ee31c;
  text-align: center;
  line-height: 30px;
  background: #7fdc762b;
  color: #fff;
  cursor: cell;
}

.set_block{
  text-align: center;
    width: 100%;
    color: #09fff3aa;
}

.get_block{
  text-align: center;
    width: 100%;
    color: #c28e21;
}



/* example page */

#debug_page{
  position: fixed;
  width: 30%;
  top:0;
  right: 0;
  height: 500px;
  background: rgba(0, 0, 0, 0.719);
  border: 1px dashed #00ff1f;
  padding: 10px;
  overflow-y: auto;
  color: #fff;
}

#debug_page a{
  color:#fff;
}

#debug_dialog{
  width: 95%;
  height: 300px;
  position: absolute;
  background:#1a1b20da;
  text-align: center;
}

#debug_text{
  width: 80%;
  height: 120px;
  border: 1px dashed blanchedalmond;
  margin: auto;
}

#debug_buttons{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

#debug_buttons button{
margin: 2px;
}

#debug_close{
  position: absolute;
  z-index: 100;
  right: 10px;
  top: 10px;
  background: red;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  cursor: pointer;

}

h3,h4{
  margin: 0;
  margin-top: 5px;
}

#debug_log{
  width: 100%;
  height: 160px;
  background: none;
  overflow-x: hidden;
  overflow-y: scroll;
}