:root{
--nodeBg: rgba(15, 15, 15, 0.55);
--nodeChildrenBg: #8080807d;
--nodeChildrenColor: rgba(255, 255, 255, 0.88);
--nodeChildrenBorderColor: #888888;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


#app {
  margin: 0 auto;
  width: 100%;
  height: 100vh;
}

.main_menu{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  z-index: 8;
}
.main_menu li{
  position: relative;
}
.main_menu li a{
  display: block;
  color: #fff;
  padding: 7px 20px;
  background-color: var(--nodeBg);
  cursor: pointer;
  text-decoration: none;
}
.main_menu > li:hover > a,
.submenu li:hover a {
  background-color: var(--nodeChildrenBg);
}
.main_menu > li:hover .submenu{
  display: block;
}
.submenu{
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0px;
  width: auto;
  display: none;
}
.submenu li {
  min-width: 100px;
}
.submenu li:not(:last-child){
  border-bottom: 1px solid var(--nodeChildrenBorderColor);
}

.mmodal{
  column-gap: 30px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: #0f0f0f;
  color: #fff;
  width: 100%;
  display: none;
}
.mmodal.active{
  display: flex;
}
.mmodal__close{
  position: absolute;
  right: 10px;
  top: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 22px;
}
.mmodal__close:hover{
  color: red;
}
.mmodal__left{
  padding: 20px;
  border-right: 2px solid red;
}
.mmodal__right{
  padding: 20px;
  min-width: 555px;
}
.mmodal__menu{
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}
.mmodal__menu a{
  display: block;
  padding: 5px 10px;
  background-color: var(--nodeBg);
  color: #fff;
  text-decoration: none;
  
}
.mmodal__menu a:hover{
  background-color: var(--nodeChildrenBg);
}
.mmodal__menu a.active{
  color: red;
}

div[data-swb]{display: none;}
div[data-swb]:nth-child(1){display: block;}

.tbl{
  border-collapse: collapse;
  border: 1px solid #ccc;
  width: 100%;
  text-align: center;
}
.tbl td,
.tbl th{
  border: 1px solid #ccc;
  padding: 5px;
}

.fill-area {
  display: table;
  z-index: -11;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px
}

.background {
  background-color: #262626;
  opacity: 1;
  background-image: linear-gradient(#0f0f0f 1.5px,transparent 0),linear-gradient(90deg,#0f0f0f 1.5px,transparent 0),linear-gradient(#333 1.5px,transparent 0),linear-gradient(90deg,#333 1.5px,#262626 0);
  background-size: 200px 200px,200px 200px,25px 25px,25px 25px;
  background-position: -1.5px -1.5px,-1.5px -1.5px,-1.5px -1.5px,-1.5px -1.5px
}

.frame-comment{
  background-color: #ffffff0f;
  border: 3px solid #ffd92c17;
}
.frame-comment.selected{
  border-color: transparent;
  box-shadow: rgb(152, 87, 0) 0px 2px 6px 2px, rgb(201, 177, 68) 0px 0px 0px 5px;
}


.minimap[data-testid]{
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid #00ff1f5c;
}
.minimap[data-testid] .mini-viewport{
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #ffe52b75;
}
.minimap[data-testid] .mini-node{
  background: rgb(0, 149, 26,  0.12);
  border: 1px solid #00ff1f5c;
}

.menu[data-testid]{
  width: auto;
  min-width: 150px;
  white-space: nowrap;
}
.menu[data-testid] .block{
  border-bottom: 1px solid var(--nodeChildrenBorderColor);
  /* background-color: var(--nodeBg); */
  background-color: rgba(15, 15, 15, 0.9);
  width: auto;
}
.menu[data-testid] .block:hover{
  background-color: var(--nodeChildrenBg);
}
.menu[data-testid] .block .context{
  padding-right: 15px;
  width: auto;
}
.menu[data-testid] .subitems{
  min-width: 170px;
}
.menu[data-testid] .block input{
  background-color: var(--nodeChildrenBg);
}




.title_win{
	    position: fixed;
    top: 10px;
    left: 50%;
    z-index: 8;
    font-size: 24px;
    color: #49a3ff;
    margin-left: -90px;
}